body {
	background: url('../img/background.png');
}

.welcome {
	color: white;
	font-family: 'Quicksand', sans-serif;
	text-align: center;
}

h1 {
	font-size: 5em;
	font-weight: lighter;
	color: white;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1em;
}

p {
	color: white;
	font-family: 'Quicksand', sans-serif;
}

.buttons {

}
.thumb:hover {
    opacity: .6;
}

.buttons:hover {
	opacity: .6;
}
.buttons {
	height: 16em;
	width: 16em;
}

#fb {
	float: right;
	margin-right: 25em;
}

#insta {
	float: left;
	margin-left: 25em;
}
