body {
	background: url('../img/background.png');
}

.welcome {
	color: white;
	font-family: 'Quicksand', sans-serif;
	text-align: center;
}

h1 {
	font-size: 5em;
	font-weight: lighter;
}

h2 {
	font-size: 2em;
}

p {
	color: white;
	font-family: 'Quicksand', sans-serif;
}