body {
background: url('../img/background.png');
}

.container {
	background: #fff;
	color: black;
	margin-top:;
	border-radius: 25px;
	height:40em;
}

.squareContainer {
	float: center;

}
h1 {
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	color: white;
	font-size: 3em;
	text-align: center;
	float: center;
}

.squareContainer h1 {
	float: center;
}

.square {
	width: 200px;
	height: 200px;
	background-color: #3a5795;
	display: inline-block;
	margin: 3em;
	border-radius: 25px;
}

.square .text {
	visibility: hidden;

}

.square:hover .text{
	visibility: visible;
}


.square:hover h1 {
	visibility: hidden;
}

.text {
	text-align: center;
	float: center;
}
