body {
	background: #3a5795;
}

.container {
	background: #fff;
	color: black;
	margin-top:;
	border-radius: 25px;
	height:40em;
}

h1 {
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	color: white;
	font-size: 3em;
	text-align: center;
}
